.title {
    width: calc(100% - 50px);
}

.results span {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.results span i {
    font-size: 40px;
}

.icon {
    width: 50px;
}

.btn-logout {
    position: absolute;
    bottom: 0;
    width: 100%;
}